body{
	padding: 0;
	background-color: #005AE1; 
}
.container{
	background-color: white;
	height:100%;
	padding:48px;
}
h1 {
	font-size: 96px;
	font-family: Muli;
	font-weight: 900;
	color: #005AE1;
	margin:0;
}

h2 {
	font-size: 32px;
	font-family: Muli;
	font-weight: 700;
	color: #005AE1;
	margin:0;
}

h3 {
	font-size: 14px;
	font-family: Muli;
	font-weight: 700;
	color: #005AE1;
	margin-top: 48px;
	margin-bottom: 0px;
}

img {
	max-width: 100%;
	display: block;
}


.overlay{
	position: relative;
}

.overlay:before{
	position: absolute;
	content: "";
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.overlay:hover:before{ 
	background-color: rgba(0,0,0,.7);
}

p{
	font-size: 24px;
	font-family: Muli;
	font-weight: 700;
	color: white;
}
.textoverlay{
	display:none;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.overlay:hover .textoverlay{
	display:block;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	margin-top: 96px;
}
@media only screen and (max-width: 800px) {
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	margin-top: 72px;
}
}

.h1effect {
    text-decoration: underline;
}

.h1effect:hover {
	color: black;
    position: relative;
    text-decoration: underline;
}
.h1effect:hover:after {
    content: url(gabriel_gif.gif); 
    display: block;
    position: fixed;
    position: fixed;
  	bottom: 5px;
  	right: 30px;
  	z-index: 1;
}

.h3light{
	font-weight: 400;
}









